ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
    padding: 10px 0px;
    width: 900px;
    margin:auto;
    background: #1abc9c;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    width: 900px;
    margin:auto;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    width: 900px;
    margin:auto;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 14%;
    font-size:12px;
    color:#777;
    height: 100px;
    vertical-align: top;
    border: 1px #556565 solid;
}

/* Highlight the "current" day */
.active {
    background: #bbff2c;
    color: white !important
}

.event .list{
    background: #c92929;
    color: white !important;
}

.event p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li a{
    color: #666464;
    text-decoration: none;
}

li.active a{
    color: white !important;
    text-decoration: none;
}

li.event h4{
    color: white;  
}

li.event h4:hover{
    color: #bbff2c;
}

li.event .list{
    overflow-y:scroll;
    height:80px;
}

li.event h4{
    margin: 4px;
}

li.event .list::-webkit-scrollbar  { 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.weekdays li{
    width: 11.75%;
    padding:0px 1%;    
}